@{
    ViewData["Title"] = "Dashboard";
}
<body>
    <div id="main">
        <div class="head">
            <div class="col-div-6">
                <span style="font-size:30px;cursor:pointer; color: white;" class="nav">&#9776; Dashboard</span> @*When extended*@
                <span style="font-size:30px;cursor:pointer; color: white;" class="nav2">&#9776; Dashboard</span>@*When reclined*@
            </div>
            <div class="col-div-6">
                <div class="profile">
                    <img src="/Images/Sample_User_Icon.png" class="pro-img" />
                    <p>Isaac <span>Administrator</span></p>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <br />
        <br />
        <div class="col-div-3">
            <div class="box">
                <p>67<br /><span>Customer</span></p>
                <i class="fa fa-users box-icon"></i>
            </div>
        </div>
        <div class="col-div-3">
            <div class="box">
                <p>88<br /><span>Employee</span></p>
                <i class="fa fa-users box-icon"></i>
            </div>
        </div>
        <div class="col-div-3">
            <div class="box">
                <p>99<br /><span>JobCards</span></p>
                <i class="fa fa-list box-icon"></i>
            </div>
        </div>
        <div class="col-div-3">
            <div class="box">
                <p>78<br /><span>EmployeeJC</span></p>
                <i class="fa fa-tasks box-icon"></i>
            </div>
        </div>
        <div class="clearfix"></div>
        <br /><br />
        <div class="col-div-8">
            <div class="box-8">
                <div class="content-box">
                    <p>Top Customers <span>See All</span></p>
                    <br />
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>Surname</th>
                            <th>Orders</th>
                        </tr>
                        <tr>
                            <td>Alfreds Futterkiste</td> @*link data*@
                            <td>Maria</td> @*link data*@
                            <td>3</td> @*link data*@
                        </tr>
                        <tr>
                            <td>Centro comercial Moctezuma</td> @*link data*@
                            <td>Chang</td> @*link data*@
                            <td>2</td> @*link data*@
                        </tr>
                        <tr>
                            <td>Ernst Handel</td> @*link data*@
                            <td>Roland</td> @*link data*@
                            <td>1</td> @*link data*@
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-div-4">
            <div class="box-4">
                <div class="content-box">
                    <p>Employees Assigned <span>See All</span></p>

                    <div class="circle-wrap"> @*link data*@
                        <div class="circle">
                            <div class="mask full">@*link data*@
                                <div class="fill"></div>
                            </div>
                            <div class="mask half">
                                <div class="fill"></div>
                            </div>
                            <div class="inside-circle"> 70% </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

    </div>

</body>
