@model _20104681CLDV6211POE.Models.CustomerData
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>

    <div id="main">
        <div class="head">
            <div class="col-div-6">
                <span style="font-size:30px;cursor:pointer; color: white;" class="nav">&#9776; Delete</span> @*When extended*@
                <span style="font-size:30px;cursor:pointer; color: white;" class="nav2">&#9776; Delete</span>@*When reclined*@
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="card">
        <nav class="navbar navbar-light bg-light justify-content-between">
            <a asp-action="Index" style="color:darkslategrey" class="fa fa-arrow-left"> Back</a>
        </nav>
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="text-center">Delete Customer</h1>
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <ul>
                                    <li>Customer Name: @Html.DisplayFor(model => model.CustomerName)</li>
                                    <li>Customer Surname: @Html.DisplayFor(model => model.CustomerSurname)</li>
                                </ul>
                                <form asp-action="Delete">
                                    <input type="hidden" asp-for="CustomerID" />
                                    <div>
                                        <input type="submit" value="Delete" style="background-color:red" class="btn btn-primary" />
                                    </div>

                                </form>
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
