@model _20104681CLDV6211POE.Models.CustomerData
@{
    ViewData["Title"] = "CreateJob";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <body>

        <div id="main">
            <div class="head">
                <div class="col-div-6">
                    <span style="font-size:30px;cursor:pointer; color: white;" class="nav">&#9776; Create Job</span> @*When extended*@
                    <span style="font-size:30px;cursor:pointer; color: white;" class="nav2">&#9776; Create Job</span>@*When reclined*@
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="card">
            <nav class="navbar navbar-light bg-light justify-content-between">
                <a asp-action="Index" style="color:darkslategrey" class="fa fa-arrow-left"> Back</a>
            </nav>
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="text-center">Create New Job</h1>
                            <div class="row">
                                <div class="col-md-4"></div>
                                <div class="col-md-4">
                                    <form asp-action="JobCard">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <div class="form-group">
                                            <label asp-for="JobCardNo" class="control-label"></label>
                                            <input asp-for="JobCardNo" type="text" class="form-control" />
                                            <span asp-validation-for="JobCardNo" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="NoOfDays" class="control-label"></label>
                                            <input asp-for="NoOfDays" type="text" class="form-control" />
                                            <span asp-validation-for="NoOfDays" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="JobType" class="control-label"> FloorBoarding,Semi or Full</label>
                                            <input asp-for="JobType" type="text" class="form-control" />
                                            <span asp-validation-for="JobType" class="text-danger"></span>
                                        </div>
                                        <div>
                                            <input type="submit" value="Create Job" style="background-color:green" class="btn btn-primary" />
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-4"></div>
                            </div>
                            <div class="col-md-6">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </body>
@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    $(document).ready(function () {
        $('select[name=Job]').change(function () {
            if ($(this).val() == 'Other') {
                $('#otherType').show();
                $('#JobTypes').prop('disabled', false);
            }
            else {
                $('#otherType').hide();
                $('#JobTypes').prop('disabled', true);
            }
        });
    });
</script>
}
